<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/users-styles.css">
</head>
<body>

    <div class="container profile-container z-depth-4">
        <h1>Edit Details</h1>
        <form action="/profile/updateUser/<%= user.id %>" method = "POST"  class="col s12">
            <div class="row">
                <div class="input-field col offset-l2 offset-m2 s12 m8 l8">
                    <input id="name" name = "name" value = "<%= user.name %>" type="text" class="validate">
                    <label for="name">Full Name</label>
                </div>
                <div class="input-field col offset-l2 offset-m2 s12 m8 l8">
                    <input id="post" name = "post" value = "<%= user.post %>" type="text" class="validate">
                    <label for="post">Designation</label>
                </div>
                <div class="input-field col offset-l2 offset-m2 s12 m8 l8">
                    <input id="email" name = "email" value = "<%= user.email %>" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col offset-l2 offset-m2 s12 m8 l8">
                    <input id="mobile" name = "mobile" value = "<%= user.mobile %>" type="text" class="validate">
                    <label for="mobile">Mobile</label>
                </div>
                <div class="input-field col offset-l2 offset-m2 s12 m8 l8">
                    <input id="address" name = "address" value = "<%= user.address %>" type="text" class="validate">
                    <label for="address">Address</label>
                </div>
            </div>
            <button class = "btn waves-effect waves-light lighten-1" id = "saveBtn">Save</button>
            <a href="/profile/" class = "btn waves-effect waves-light red lighten-1">Back</a>
        </form>
    </div>

    <script src="/static/jquery.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>

</body>
</html>