<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <div class="profile-container">
        <h1>Edit Details</h1>
        <div class="details">
            <form action="/profile/updateUser/<%= user.id %>" method = "POST">
                    <table>
                            <tr>
                                <th>Firstname</th>
                                <td><input type="text" value = "<%= user.fname %>" name = "fname"></td>
                            </tr>
                            <tr>
                                <th>Lastname</th>
                                <td><input type="text" value = "<%= user.lname %>" name = "lname"></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><input type="email" value = "<%= user.email %>" name = "email"></td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td><input type="text" value = "<%= user.city %>" name = "city"></td>
                            </tr>
                        </table>
                        <button id = "saveBtn">Save</button>
                        <a href="/profile/">Back</a>
            </form>
        </div>
    </div>

</body>
</html>